.text{
    padding-bottom:40px;
}


.show table {
    background-color: #fff2f;
    max-width: 1200px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 70px;
    border-top: 0px white solid;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.show table input {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: dimgray;
    border: none;
    color: white;
}

.return button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: dimgray;
    border: none;
    color: white;
    margin-top: 20px;
}

.return button a{
    color:white;
}

.heading {
    padding-top:40px;
    padding-bottom:40px;
}

