.input-group {  
justify-content: center;    
margin-bottom:20px;
}

.input-group input
{
    
     max-width: 255px;
}
.input-group select
{
    
     max-width: 155px;
}

.favouriteComicBtn{
	display: block;
}

.comicBtn{
	display: inline-block;
}

